.vscode/
__pycache__/
src/HallOfFame/
plots/
backup/

# Ignore subdirectories other than raw/
data/BAMultiShapesDataset/*
!data/BAMultiShapesDataset/raw/
!data/BAMultiShapesDataset/raw/*

data/MUTAG/*
!data/MUTAG/raw/
!data/MUTAG/raw/*

data/Mutagenicity/*
!data/Mutagenicity/raw/
!data/Mutagenicity/raw/*

data/NCI1/*
!data/NCI1/raw/
!data/NCI1/raw/*

data/graphtrail_files/
graphtrail_files.zip

data/*.log

data/neuro_data/
data/neuro_data.zip

rough.ipynb
rough.py

rebuttal_src_files/